In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
import re

In [27]:
df = pd.read_csv('SZFZ.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].apply(lambda x: str(x.year) + '-' + str(x.month))

In [52]:
df.to_csv('SZFZ_working_monthly.csv',index=None)

In [57]:
df = pd.read_csv('SYZX.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.date
df['DateConfirm'] = df['DateConfirm'].apply(lambda x: str(x.year) + '-' + str(x.month))
df.to_csv('SYZX_working_monthly.csv',index=None)

In [69]:
df = pd.read_csv('MBZX.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.date
df['DateConfirm'] = df['DateConfirm'].apply(lambda x: str(x.year) + '-' + str(x.month))
df.to_csv('MBZX_working_monthly.csv',index=None)

In [71]:
df.drop(['DateSymptom','Class'],axis=1,inplace=True)

df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.to_period('M')

date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.PeriodIndex(start=date_start,end=date_end,freq='m')

TYPES = ['I+','I-','A','R']
org_df = pd.DataFrame(index=date_index,columns=TYPES)
org_df[:] = 0

date_length = len(date_index)
for t,n in [('I+',1),('I-',2),('A',3)]:
    cur_df = df[df['Type']==n]['DateConfirm'].value_counts().sort_index()
    cur_dates = cur_df.index.values
    cur_vals = cur_df.values
    l = 0
    for i in range(date_length):
        if i>0:
            org_df.loc[date_index[i],t] = org_df.loc[date_index[i-1],t] * 5/6
        if l<len(cur_dates) and date_index[i]==cur_dates[l]:
            org_df.loc[date_index[i],t] += cur_vals[l]
            l += 1

date_length = len(date_index)
for i in range(1,date_length):
    org_df.loc[date_index[i],'R'] = org_df.loc[date_index[i-1],'R'] + \
                                        org_df.loc[date_index[i-1],'I+'] /6 + \
                                        org_df.loc[date_index[i-1],'I-'] /6 + \
                                        org_df.loc[date_index[i-1],'A'] /6 

org_df.to_csv('MBZX_monthly.csv')
org_df

               I+        I-         A         R
2014-09  1.000000  3.000000  0.000000  0.000000
2014-10  0.833333  6.500000  4.000000  0.666667
2014-11  0.694444  6.416667  4.333333  2.555556

In [17]:
df = pd.read_csv('QJYS.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.date
df['DateConfirm'] = df['DateConfirm'].apply(lambda x: str(x.year) + '-' + str(x.month))
df.to_csv('QJYS_working_monthly.csv',index=None)

In [18]:
df.drop(['DateSymptom','Class'],axis=1,inplace=True)

df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.to_period('M')

date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.PeriodIndex(start=date_start,end=date_end,freq='m')

TYPES = ['I+','I-','A','R']
org_df = pd.DataFrame(index=date_index,columns=TYPES)
org_df[:] = 0

date_length = len(date_index)
for t,n in [('I+',1),('I-',2),('A',3)]:
    cur_df = df[df['Type']==n]['DateConfirm'].value_counts().sort_index()
    cur_dates = cur_df.index.values
    cur_vals = cur_df.values
    l = 0
    for i in range(date_length):
        if i>0:
            org_df.loc[date_index[i],t] = org_df.loc[date_index[i-1],t] * 5/6
        if l<len(cur_dates) and date_index[i]==cur_dates[l]:
            org_df.loc[date_index[i],t] += cur_vals[l]
            l += 1

date_length = len(date_index)
for i in range(1,date_length):
    org_df.loc[date_index[i],'R'] = org_df.loc[date_index[i-1],'R'] + \
                                        org_df.loc[date_index[i-1],'I+'] /6 + \
                                        org_df.loc[date_index[i-1],'I-'] /6 + \
                                        org_df.loc[date_index[i-1],'A'] /6 

org_df.to_csv('QJYS_monthly.csv')
org_df

                  I+        I-         R
2017-12-05  1.000000  0.000000  0.000000
2017-12-06  0.994505  0.000000  0.005495
2017-12-07  0.989041  0.000000  0.010959
2017-12-08  0.983607  0.000000  0.016393
2017-12-09  0.978202  0.000000  0.021798
2017-12-10  0.972828  0.000000  0.027172
2017-12-11  0.967483  0.000000  0.032517
2017-12-12  0.962167  0.000000  0.037833
2017-12-13  0.956880  0.000000  0.043120
2017-12-14  0.951622  0.000000  0.048378
2017-12-15  0.946394  0.000000  0.053606
2017-12-16  0.941194  0.000000  0.058806
2017-12-17  0.936022  0.000000  0.063978
2017-12-18  0.930879  0.000000  0.069121
2017-12-19  0.925765  1.000000  0.074235
2017-12-20  0.920678  5.994505  0.084816
2017-12-21  0.915619  5.961569  0.122812
2017-12-22  0.910589  5.928813  0.160599
2017-12-23  0.905585  5.896237  0.198178
2017-12-24  0.900610  5.863840  0.235550
2017-12-25  0.895661  5.831621  0.272718
2017-12-26  0.890740  5.799579  0.309681
2017-12-27  0.885846  5.767713  0.346441
2017-12-28  0.880978  5.736023  0.382999
2017-12-29  0.876138  5.704506  0.419356
2017-12-30  0.871324  5.673163  0.455513
2017-12-31  0.866536  5.641991  0.491472
2018-01-01  0.861775  5.610991  0.527233
2018-01-02  0.857040  5.580162  0.562798
2018-01-03  0.852331  5.549502  0.598167
2018-01-04  0.847648  5.519010  0.633342
2018-01-05  0.842991  5.488686  0.668324
2018-01-06  0.838359  5.458528  0.703113
2018-01-07  0.833753  5.428536  0.737711
2018-01-08  1.829171  5.398709  0.772120

In [29]:
df.drop('DateSymptom',axis=1,inplace=True)
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df.loc[df['Type']==3,'Type']=2

In [40]:
df['DateConfirm'] = df['DateConfirm'].dt.to_period('M')

In [41]:
date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.PeriodIndex(start=date_start,end=date_end,freq='m')

In [52]:
date_index

PeriodIndex(['2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06'], dtype='period[M]', freq='M')

In [ ]:
df.loc[df['Class']=='SZFZ','Class'] = 0
df.loc[:,'Class']=df.loc[:,'Class'].astype(float)

In [55]:
TYPES = ['I+','I-','R']
CLASSES = df['Class'].unique()
CLASSES = np.append(CLASSES,[1,])
CLASSES = CLASSES.astype(float)

type_class = [(t,c)for t in TYPES for c in CLASSES]

type_index = pd.MultiIndex.from_tuples(type_class)

org_df = pd.DataFrame(index=date_index,columns=type_index)

org_df[:] = 0

date_length = len(date_index)
for c in CLASSES[:-1]:
    class_df = df[df['Class']==c]
    for t,n in [('I+',1),('I-',2)]:
        cur_df = class_df[class_df['Type']==n]['DateConfirm'].value_counts().sort_index()
        cur_dates = cur_df.index.values
        cur_vals = cur_df.values
        l = 0
        for i in range(date_length):
            if i>0:
                org_df.loc[date_index[i],(t,c)] = org_df.loc[date_index[i-1],(t,c)] * 5/6
            if l<len(cur_dates) and date_index[i]==cur_dates[l]:
                org_df.loc[date_index[i],(t,c)] += cur_vals[l]
                l += 1

date_length = len(date_index)
for c in CLASSES[:-1]:
    for i in range(1,date_length):
        org_df.loc[date_index[i],('R',c)] = org_df.loc[date_index[i-1],('R',c)] + \
                                            org_df.loc[date_index[i-1],('I+',c)] /6 + \
                                            org_df.loc[date_index[i-1],('I-',c)] /6 

for t in ['I+','I-','R']:
    org_df.loc[:,(t,1)] = org_df.loc[:,t].iloc[:,:-1].sum(axis=1)

org_df

               I+                                                 ...      \
             41.0 46.0 42.0 35.0 40.0 37.0 44.0 43.0 0.0  51.0    ...
2014-01  1.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...
2014-02  0.833333  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...
2014-03  0.694444  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...
2014-04  1.578704  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...
2014-05  1.315586  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...
2014-06  1.096322  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    ...

                R                                                              \
             40.0      37.0      44.0      43.0      0.0       51.0      52.0
2014-01  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2014-02  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2014-03  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2014-04  0.000000  0.000000  0.000000  0.000000  0.166667  0.000000  0.000000
2014-05  0.000000  0.000000  0.000000  0.000000  2.138889  0.000000  0.000000
2014-06  0.833333  0.166667  0.833333  0.666667  3.782407  0.166667  0.166667


             48.0      45.0       1.0
2014-01  0.000000  0.000000   0.000000
2014-02  0.000000  0.000000   0.166667
2014-03  0.000000  0.000000   0.305556
2014-04  0.000000  0.000000   0.754630
2014-05  0.000000  0.000000   4.462191
2014-06  0.166667  0.166667  14.218493

[6 rows x 42 columns]

In [56]:
org_df.to_csv('SZFZ_monthly.csv')

In [59]:
df.drop('DateSymptom',axis=1,inplace=True)
df.drop(94,inplace=True)

df.reset_index(inplace=True)
df.drop('index',axis=1,inplace=True)

df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.to_period('M')

In [61]:
df.loc[df['Class'].isnull(),'Class'] = 0

In [62]:
df

    Class DateConfirm  Type
0    92.0     2013-07     1
1    92.0     2013-09     2
2    93.0     2013-08     2
3    93.0     2013-10     2
4    93.0     2013-08     2
5    98.0     2013-08     2
6    93.0     2013-07     2
7    93.0     2013-08     2
8    93.0     2013-09     2
9    93.0     2013-09     2
10   93.0     2013-10     2
11   93.0     2013-08     2
12   93.0     2013-09     2
13   93.0     2013-09     2
14   98.0     2013-09     2
15   99.0     2013-11     2
16   93.0     2013-09     2
17   93.0     2013-09     2
18   93.0     2013-09     2
19   93.0     2013-09     2
20   93.0     2013-09     2
21   99.0     2013-09     2
22   93.0     2013-09     2
23   93.0     2013-09     2
24   93.0     2013-09     2
25   93.0     2013-09     2
26   93.0     2013-09     2
27   93.0     2013-09     2
28   99.0     2013-09     2
29   93.0     2013-09     2
..    ...         ...   ...
65   98.0     2013-09     2
66   98.0     2013-09     2
67   98.0     2013-09     2
68   99.0     2013-09     2
69  100.0     2013-09     2
70  101.0     2013-08     2
71   93.0     2013-05     2
72  104.0     2013-09     2
73   93.0     2013-08     2
74   94.0     2013-10     2
75   96.0     2013-10     2
76  102.0     2013-07     2
77   97.0     2013-10     2
78   93.0     2013-11     2
79  101.0     2013-11     2
80   96.0     2013-11     2
81  102.0     2013-11     2
82   92.0     2013-11     2
83   99.0     2013-11     2
84   99.0     2013-11     2
85   99.0     2013-11     2
86   99.0     2013-11     2
87   97.0     2013-11     2
88   97.0     2013-11     2
89    0.0     2013-08     2
90   99.0     2013-11     2
91   99.0     2013-10     2
92    0.0     2013-11     2
93   93.0     2013-09     2
94   93.0     2013-11     2

[95 rows x 3 columns]

In [63]:
date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.PeriodIndex(start=date_start,end=date_end,freq='m')

TYPES = ['I+','I-','A','R']
CLASSES = df['Class'].unique()
CLASSES = np.append(CLASSES,[1,])
type_class = [(t,c)for t in TYPES for c in CLASSES]
type_index = pd.MultiIndex.from_tuples(type_class)
org_df = pd.DataFrame(index=date_index,columns=type_index)
org_df[:] = 0

date_length = len(date_index)
for c in CLASSES[:-1]:
    class_df = df[df['Class']==c]
    for t,n in [('I+',1),('I-',2),('A',3)]:
        cur_df = class_df[class_df['Type']==n]['DateConfirm'].value_counts().sort_index()
        cur_dates = cur_df.index.values
        cur_vals = cur_df.values
        l = 0
        for i in range(date_length):
            if i>0:
                org_df.loc[date_index[i],(t,c)] = org_df.loc[date_index[i-1],(t,c)] * 5/6
            if l<len(cur_dates) and date_index[i]==cur_dates[l]:
                org_df.loc[date_index[i],(t,c)] += cur_vals[l]
                l += 1

date_length = len(date_index)
for c in CLASSES[:-1]:
    for i in range(1,date_length):
        org_df.loc[date_index[i],('R',c)] = org_df.loc[date_index[i-1],('R',c)] + \
                                            org_df.loc[date_index[i-1],('I+',c)] /6 + \
                                            org_df.loc[date_index[i-1],('I-',c)] /6 + \
                                            org_df.loc[date_index[i-1],('A',c)] /6 

for t in ['I+','I-','A','R']:
    org_df.loc[:,(t,1)] = org_df.loc[:,t].iloc[:,:-1].sum(axis=1)
    
org_df

               I+                                                        \
            92.0  93.0  98.0  99.0  97.0  0.0   94.0  95.0  96.0  100.0
2013-05  0.000000   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-06  0.000000   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-07  1.000000   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-08  0.833333   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-09  0.694444   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-10  0.578704   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2013-11  0.482253   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

           ...             R                                                \
           ...         97.0      0.0   94.0      95.0      96.0      100.0
2013-05    ...      0.000000  0.000000   0.0  0.000000  0.000000  0.000000
2013-06    ...      0.000000  0.000000   0.0  0.000000  0.000000  0.000000
2013-07    ...      0.000000  0.000000   0.0  0.000000  0.000000  0.000000
2013-08    ...      0.000000  0.000000   0.0  0.000000  0.166667  0.000000
2013-09    ...      0.000000  0.166667   0.0  0.000000  0.305556  0.000000
2013-10    ...      0.166667  0.472222   0.0  0.166667  0.421296  0.166667
2013-11    ...      1.138889  0.726852   0.5  0.638889  1.017747  0.638889


            104.0     101.0     102.0      1.0
2013-05  0.000000  0.000000  0.000000   0.000000
2013-06  0.000000  0.000000  0.000000   0.166667
2013-07  0.000000  0.000000  0.000000   0.472222
2013-08  0.000000  0.000000  0.166667   1.393519
2013-09  0.000000  0.166667  0.305556   3.494599
2013-10  0.166667  0.305556  0.421296  11.412166
2013-11  0.972222  0.421296  0.517747  22.843471

[7 rows x 56 columns]

In [64]:
org_df.to_csv('SYZX_monthly.csv')