In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
import re

In [52]:
df = pd.read_csv('SZFZ.csv')

In [53]:
df

   Class DateSymptom    DateConfirm  Type
0     41     12/9/13  1/16/14 19:00     1
1     41     4/26/14  4/27/14 15:00     1
2     46      5/3/14   5/4/14 21:00     2
3     42      5/3/14   5/4/14 21:00     2
4     42      5/1/14  6/14/14 17:00     2
5     35      5/3/14   5/4/14 20:00     2
6     40      4/2/14   5/4/14 16:00     2
7     37      5/3/14   5/4/14 20:00     2
8     44      5/3/14   5/4/14 21:00     2
9     41     4/26/14  4/27/14 15:00     2
10    41      5/3/14   5/3/14 22:00     2
11    41     4/25/14  4/30/14 13:00     2
12    46      5/2/14   5/3/14 14:00     2
13    43     4/28/14   5/3/14 10:00     2
14    40      5/3/14   5/4/14 21:00     2
15  SZFZ      4/6/14  4/28/14 14:00     2
16    44      5/3/14   5/4/14 21:00     2
17    44     4/28/14    5/3/14 9:00     2
18  SZFZ     4/24/14  4/30/14 11:00     2
19  SZFZ     4/25/14  4/28/14 14:00     2
20  SZFZ     2/20/14  4/28/14 13:00     2
21  SZFZ      2/5/14   4/15/14 8:00     2
22    41      5/3/14   5/3/14 22:00     2
23    51      5/3/14   5/4/14 21:00     2
24    52      5/3/14   5/4/14 21:00     2
25    41     4/28/14  4/30/14 13:00     2
26    41     4/30/14  5/11/14 17:00     2
27  SZFZ      4/5/14  4/28/14 13:00     2
28    41      4/5/14   5/3/14 22:00     2
29    43      5/3/14   5/4/14 21:00     2
..   ...         ...            ...   ...
39    41      5/3/14   5/3/14 22:00     2
40  SZFZ     3/17/14  3/23/14 15:00     2
41    41      5/3/14   5/3/14 22:00     2
42    42      5/3/14   5/4/14 20:00     2
43    41     4/28/14   5/2/14 16:00     2
44    44      5/3/14   5/4/14 21:00     2
45    41     4/26/14  4/27/14 15:00     2
46    40     4/28/14   5/3/14 11:00     2
47    42      5/1/14   6/16/14 9:00     2
48  SZFZ      4/1/14  4/29/14 19:00     2
49  SZFZ     4/28/14  4/28/14 14:00     2
50    42     5/10/14  5/25/14 14:00     2
51    45     5/28/14   6/2/14 10:00     2
52    44     5/12/14  5/15/14 16:00     2
53  SZFZ      3/2/14  4/28/14 14:00     2
54    42     5/24/14  5/30/14 15:00     2
55    41     5/23/14  5/30/14 15:00     2
56    43     5/20/14  5/25/14 15:00     2
57    42      5/6/14  5/26/14 15:00     2
58    41     5/28/14    6/5/14 8:00     2
59    44     5/23/14   6/2/14 16:00     2
60    43     5/19/14   5/25/14 9:00     2
61    41     5/20/14    6/5/14 8:00     2
62    42      5/9/14  5/23/14 16:00     2
63    41     5/28/14  5/31/14 15:00     2
64    41     4/25/14        4/28/14     2
65  SZFZ      2/1/14        4/29/14     2
66    41     4/22/14    5/6/14 7:00     3
67    41     4/11/14  4/18/14 17:00     3
68    41     3/28/14   3/30/14 9:00     3

[69 rows x 4 columns]

In [54]:
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])

In [55]:
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])

In [56]:
df

   Class DateSymptom         DateConfirm  Type
0     41  2013-12-09 2014-01-16 19:00:00     1
1     41  2014-04-26 2014-04-27 15:00:00     1
2     46  2014-05-03 2014-05-04 21:00:00     2
3     42  2014-05-03 2014-05-04 21:00:00     2
4     42  2014-05-01 2014-06-14 17:00:00     2
5     35  2014-05-03 2014-05-04 20:00:00     2
6     40  2014-04-02 2014-05-04 16:00:00     2
7     37  2014-05-03 2014-05-04 20:00:00     2
8     44  2014-05-03 2014-05-04 21:00:00     2
9     41  2014-04-26 2014-04-27 15:00:00     2
10    41  2014-05-03 2014-05-03 22:00:00     2
11    41  2014-04-25 2014-04-30 13:00:00     2
12    46  2014-05-02 2014-05-03 14:00:00     2
13    43  2014-04-28 2014-05-03 10:00:00     2
14    40  2014-05-03 2014-05-04 21:00:00     2
15  SZFZ  2014-04-06 2014-04-28 14:00:00     2
16    44  2014-05-03 2014-05-04 21:00:00     2
17    44  2014-04-28 2014-05-03 09:00:00     2
18  SZFZ  2014-04-24 2014-04-30 11:00:00     2
19  SZFZ  2014-04-25 2014-04-28 14:00:00     2
20  SZFZ  2014-02-20 2014-04-28 13:00:00     2
21  SZFZ  2014-02-05 2014-04-15 08:00:00     2
22    41  2014-05-03 2014-05-03 22:00:00     2
23    51  2014-05-03 2014-05-04 21:00:00     2
24    52  2014-05-03 2014-05-04 21:00:00     2
25    41  2014-04-28 2014-04-30 13:00:00     2
26    41  2014-04-30 2014-05-11 17:00:00     2
27  SZFZ  2014-04-05 2014-04-28 13:00:00     2
28    41  2014-04-05 2014-05-03 22:00:00     2
29    43  2014-05-03 2014-05-04 21:00:00     2
..   ...         ...                 ...   ...
39    41  2014-05-03 2014-05-03 22:00:00     2
40  SZFZ  2014-03-17 2014-03-23 15:00:00     2
41    41  2014-05-03 2014-05-03 22:00:00     2
42    42  2014-05-03 2014-05-04 20:00:00     2
43    41  2014-04-28 2014-05-02 16:00:00     2
44    44  2014-05-03 2014-05-04 21:00:00     2
45    41  2014-04-26 2014-04-27 15:00:00     2
46    40  2014-04-28 2014-05-03 11:00:00     2
47    42  2014-05-01 2014-06-16 09:00:00     2
48  SZFZ  2014-04-01 2014-04-29 19:00:00     2
49  SZFZ  2014-04-28 2014-04-28 14:00:00     2
50    42  2014-05-10 2014-05-25 14:00:00     2
51    45  2014-05-28 2014-06-02 10:00:00     2
52    44  2014-05-12 2014-05-15 16:00:00     2
53  SZFZ  2014-03-02 2014-04-28 14:00:00     2
54    42  2014-05-24 2014-05-30 15:00:00     2
55    41  2014-05-23 2014-05-30 15:00:00     2
56    43  2014-05-20 2014-05-25 15:00:00     2
57    42  2014-05-06 2014-05-26 15:00:00     2
58    41  2014-05-28 2014-06-05 08:00:00     2
59    44  2014-05-23 2014-06-02 16:00:00     2
60    43  2014-05-19 2014-05-25 09:00:00     2
61    41  2014-05-20 2014-06-05 08:00:00     2
62    42  2014-05-09 2014-05-23 16:00:00     2
63    41  2014-05-28 2014-05-31 15:00:00     2
64    41  2014-04-25 2014-04-28 00:00:00     2
65  SZFZ  2014-02-01 2014-04-29 00:00:00     2
66    41  2014-04-22 2014-05-06 07:00:00     3
67    41  2014-04-11 2014-04-18 17:00:00     3
68    41  2014-03-28 2014-03-30 09:00:00     3

[69 rows x 4 columns]

In [57]:
df['DateConfirm'] = df['DateConfirm'].dt.date

In [58]:
df

   Class DateSymptom DateConfirm  Type
0     41  2013-12-09  2014-01-16     1
1     41  2014-04-26  2014-04-27     1
2     46  2014-05-03  2014-05-04     2
3     42  2014-05-03  2014-05-04     2
4     42  2014-05-01  2014-06-14     2
5     35  2014-05-03  2014-05-04     2
6     40  2014-04-02  2014-05-04     2
7     37  2014-05-03  2014-05-04     2
8     44  2014-05-03  2014-05-04     2
9     41  2014-04-26  2014-04-27     2
10    41  2014-05-03  2014-05-03     2
11    41  2014-04-25  2014-04-30     2
12    46  2014-05-02  2014-05-03     2
13    43  2014-04-28  2014-05-03     2
14    40  2014-05-03  2014-05-04     2
15  SZFZ  2014-04-06  2014-04-28     2
16    44  2014-05-03  2014-05-04     2
17    44  2014-04-28  2014-05-03     2
18  SZFZ  2014-04-24  2014-04-30     2
19  SZFZ  2014-04-25  2014-04-28     2
20  SZFZ  2014-02-20  2014-04-28     2
21  SZFZ  2014-02-05  2014-04-15     2
22    41  2014-05-03  2014-05-03     2
23    51  2014-05-03  2014-05-04     2
24    52  2014-05-03  2014-05-04     2
25    41  2014-04-28  2014-04-30     2
26    41  2014-04-30  2014-05-11     2
27  SZFZ  2014-04-05  2014-04-28     2
28    41  2014-04-05  2014-05-03     2
29    43  2014-05-03  2014-05-04     2
..   ...         ...         ...   ...
39    41  2014-05-03  2014-05-03     2
40  SZFZ  2014-03-17  2014-03-23     2
41    41  2014-05-03  2014-05-03     2
42    42  2014-05-03  2014-05-04     2
43    41  2014-04-28  2014-05-02     2
44    44  2014-05-03  2014-05-04     2
45    41  2014-04-26  2014-04-27     2
46    40  2014-04-28  2014-05-03     2
47    42  2014-05-01  2014-06-16     2
48  SZFZ  2014-04-01  2014-04-29     2
49  SZFZ  2014-04-28  2014-04-28     2
50    42  2014-05-10  2014-05-25     2
51    45  2014-05-28  2014-06-02     2
52    44  2014-05-12  2014-05-15     2
53  SZFZ  2014-03-02  2014-04-28     2
54    42  2014-05-24  2014-05-30     2
55    41  2014-05-23  2014-05-30     2
56    43  2014-05-20  2014-05-25     2
57    42  2014-05-06  2014-05-26     2
58    41  2014-05-28  2014-06-05     2
59    44  2014-05-23  2014-06-02     2
60    43  2014-05-19  2014-05-25     2
61    41  2014-05-20  2014-06-05     2
62    42  2014-05-09  2014-05-23     2
63    41  2014-05-28  2014-05-31     2
64    41  2014-04-25  2014-04-28     2
65  SZFZ  2014-02-01  2014-04-29     2
66    41  2014-04-22  2014-05-06     3
67    41  2014-04-11  2014-04-18     3
68    41  2014-03-28  2014-03-30     3

[69 rows x 4 columns]

In [59]:
df.to_csv('SZFZ_working.csv',index=None)

In [61]:
df = pd.read_csv('SZFZ_working.csv')
df

   Class DateSymptom DateConfirm  Type
0     41  2013-12-09  2014-01-16     1
1     41  2014-04-26  2014-04-27     1
2     46  2014-05-03  2014-05-04     2
3     42  2014-05-03  2014-05-04     2
4     42  2014-05-01  2014-06-14     2
5     35  2014-05-03  2014-05-04     2
6     40  2014-04-02  2014-05-04     2
7     37  2014-05-03  2014-05-04     2
8     44  2014-05-03  2014-05-04     2
9     41  2014-04-26  2014-04-27     2
10    41  2014-05-03  2014-05-03     2
11    41  2014-04-25  2014-04-30     2
12    46  2014-05-02  2014-05-03     2
13    43  2014-04-28  2014-05-03     2
14    40  2014-05-03  2014-05-04     2
15  SZFZ  2014-04-06  2014-04-28     2
16    44  2014-05-03  2014-05-04     2
17    44  2014-04-28  2014-05-03     2
18  SZFZ  2014-04-24  2014-04-30     2
19  SZFZ  2014-04-25  2014-04-28     2
20  SZFZ  2014-02-20  2014-04-28     2
21  SZFZ  2014-02-05  2014-04-15     2
22    41  2014-05-03  2014-05-03     2
23    51  2014-05-03  2014-05-04     2
24    52  2014-05-03  2014-05-04     2
25    41  2014-04-28  2014-04-30     2
26    41  2014-04-30  2014-05-11     2
27  SZFZ  2014-04-05  2014-04-28     2
28    41  2014-04-05  2014-05-03     2
29    43  2014-05-03  2014-05-04     2
..   ...         ...         ...   ...
39    41  2014-05-03  2014-05-03     2
40  SZFZ  2014-03-17  2014-03-23     2
41    41  2014-05-03  2014-05-03     2
42    42  2014-05-03  2014-05-04     2
43    41  2014-04-28  2014-05-02     2
44    44  2014-05-03  2014-05-04     2
45    41  2014-04-26  2014-04-27     2
46    40  2014-04-28  2014-05-03     2
47    42  2014-05-01  2014-06-16     2
48  SZFZ  2014-04-01  2014-04-29     2
49  SZFZ  2014-04-28  2014-04-28     2
50    42  2014-05-10  2014-05-25     2
51    45  2014-05-28  2014-06-02     2
52    44  2014-05-12  2014-05-15     2
53  SZFZ  2014-03-02  2014-04-28     2
54    42  2014-05-24  2014-05-30     2
55    41  2014-05-23  2014-05-30     2
56    43  2014-05-20  2014-05-25     2
57    42  2014-05-06  2014-05-26     2
58    41  2014-05-28  2014-06-05     2
59    44  2014-05-23  2014-06-02     2
60    43  2014-05-19  2014-05-25     2
61    41  2014-05-20  2014-06-05     2
62    42  2014-05-09  2014-05-23     2
63    41  2014-05-28  2014-05-31     2
64    41  2014-04-25  2014-04-28     2
65  SZFZ  2014-02-01  2014-04-29     2
66    41  2014-04-22  2014-05-06     3
67    41  2014-04-11  2014-04-18     3
68    41  2014-03-28  2014-03-30     3

[69 rows x 4 columns]

In [69]:
df = pd.read_csv('SYZX.csv')
df['Class'].astype(object)

0      92
1      92
2      93
3      93
4      93
5      98
6      93
7      93
8      93
9      93
10     93
11     93
12     93
13     93
14     98
15     99
16     93
17     93
18     93
19     93
20     93
21     99
22     93
23     93
24     93
25     93
26     93
27     93
28     99
29     93
     ...
66     98
67     98
68     99
69    100
70    101
71     93
72    104
73     93
74     94
75     96
76    102
77     97
78     93
79    101
80     96
81    102
82     92
83     99
84     99
85     99
86     99
87     97
88     97
89    NaN
90     99
91     99
92    NaN
93     93
94    NaN
95     93
Name: Class, Length: 96, dtype: object

In [70]:
df

    Class DateConfirm DateSymptom  Type
0    92.0      7/9/13     4/26/13     1
1    92.0      9/4/13     6/11/13     2
2    93.0     8/19/13     8/12/13     2
3    93.0    10/18/13     8/22/13     2
4    93.0     8/11/13     8/11/13     2
5    98.0     8/28/13     7/24/13     2
6    93.0     7/25/13      6/5/13     2
7    93.0     8/15/13     6/15/13     2
8    93.0      9/3/13      8/1/13     2
9    93.0     9/10/13     8/18/13     2
10   93.0    10/18/13     8/28/13     2
11   93.0     8/10/13     6/20/13     2
12   93.0      9/3/13      9/5/13     2
13   93.0      9/6/13      9/7/13     2
14   98.0      9/5/13     8/29/13     2
15   99.0    11/26/13      9/8/13     2
16   93.0      9/7/13      9/8/13     2
17   93.0      9/8/13      9/8/13     2
18   93.0     9/10/13      9/8/13     2
19   93.0      9/7/13      9/1/13     2
20   93.0      9/5/13      9/8/13     2
21   99.0     9/10/13      9/1/13     2
22   93.0      9/8/13      9/1/13     2
23   93.0      9/8/13      9/3/13     2
24   93.0      9/7/13     6/22/13     2
25   93.0      9/3/13     6/28/13     2
26   93.0     9/12/13      7/2/13     2
27   93.0     9/12/13      7/5/13     2
28   99.0     9/13/13     7/15/13     2
29   93.0      9/9/13     6/25/13     2
..    ...         ...         ...   ...
66   98.0     9/30/13     8/18/13     2
67   98.0     9/30/13     8/19/13     2
68   99.0     9/13/13     6/25/13     2
69  100.0     9/13/13     8/15/13     2
70  101.0      8/9/13      7/4/13     2
71   93.0     5/28/13     3/20/13     2
72  104.0     9/22/13     8/25/13     2
73   93.0     8/20/13         NaN     2
74   94.0    10/21/13      9/8/13     2
75   96.0    10/19/13    10/10/13     2
76  102.0     7/14/13         NaN     2
77   97.0    10/18/13         NaN     2
78   93.0    11/11/13    10/18/13     2
79  101.0    11/11/13    10/18/13     2
80   96.0    11/11/13    10/18/13     2
81  102.0    11/11/13    10/18/13     2
82   92.0    11/11/13    10/18/13     2
83   99.0    11/11/13    10/18/13     2
84   99.0    11/11/13    10/18/13     2
85   99.0    11/11/13    10/18/13     2
86   99.0    11/11/13    10/18/13     2
87   97.0    11/11/13    10/18/13     2
88   97.0    11/11/13    10/18/13     2
89    NaN     8/28/13     8/10/13     2
90   99.0    11/11/13    11/10/13     2
91   99.0    10/26/13    10/15/13     2
92    NaN    11/11/13    11/10/13     2
93   93.0     9/12/13      7/2/13     2
94    NaN     6/22/14      7/3/13     2
95   93.0    11/11/13     10/1/13     2

[96 rows x 4 columns]

In [71]:
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df

    Class DateConfirm DateSymptom  Type
0    92.0  2013-07-09  2013-04-26     1
1    92.0  2013-09-04  2013-06-11     2
2    93.0  2013-08-19  2013-08-12     2
3    93.0  2013-10-18  2013-08-22     2
4    93.0  2013-08-11  2013-08-11     2
5    98.0  2013-08-28  2013-07-24     2
6    93.0  2013-07-25  2013-06-05     2
7    93.0  2013-08-15  2013-06-15     2
8    93.0  2013-09-03  2013-08-01     2
9    93.0  2013-09-10  2013-08-18     2
10   93.0  2013-10-18  2013-08-28     2
11   93.0  2013-08-10  2013-06-20     2
12   93.0  2013-09-03  2013-09-05     2
13   93.0  2013-09-06  2013-09-07     2
14   98.0  2013-09-05  2013-08-29     2
15   99.0  2013-11-26  2013-09-08     2
16   93.0  2013-09-07  2013-09-08     2
17   93.0  2013-09-08  2013-09-08     2
18   93.0  2013-09-10  2013-09-08     2
19   93.0  2013-09-07  2013-09-01     2
20   93.0  2013-09-05  2013-09-08     2
21   99.0  2013-09-10  2013-09-01     2
22   93.0  2013-09-08  2013-09-01     2
23   93.0  2013-09-08  2013-09-03     2
24   93.0  2013-09-07  2013-06-22     2
25   93.0  2013-09-03  2013-06-28     2
26   93.0  2013-09-12  2013-07-02     2
27   93.0  2013-09-12  2013-07-05     2
28   99.0  2013-09-13  2013-07-15     2
29   93.0  2013-09-09  2013-06-25     2
..    ...         ...         ...   ...
66   98.0  2013-09-30  2013-08-18     2
67   98.0  2013-09-30  2013-08-19     2
68   99.0  2013-09-13  2013-06-25     2
69  100.0  2013-09-13  2013-08-15     2
70  101.0  2013-08-09  2013-07-04     2
71   93.0  2013-05-28  2013-03-20     2
72  104.0  2013-09-22  2013-08-25     2
73   93.0  2013-08-20         NaT     2
74   94.0  2013-10-21  2013-09-08     2
75   96.0  2013-10-19  2013-10-10     2
76  102.0  2013-07-14         NaT     2
77   97.0  2013-10-18         NaT     2
78   93.0  2013-11-11  2013-10-18     2
79  101.0  2013-11-11  2013-10-18     2
80   96.0  2013-11-11  2013-10-18     2
81  102.0  2013-11-11  2013-10-18     2
82   92.0  2013-11-11  2013-10-18     2
83   99.0  2013-11-11  2013-10-18     2
84   99.0  2013-11-11  2013-10-18     2
85   99.0  2013-11-11  2013-10-18     2
86   99.0  2013-11-11  2013-10-18     2
87   97.0  2013-11-11  2013-10-18     2
88   97.0  2013-11-11  2013-10-18     2
89    NaN  2013-08-28  2013-08-10     2
90   99.0  2013-11-11  2013-11-10     2
91   99.0  2013-10-26  2013-10-15     2
92    NaN  2013-11-11  2013-11-10     2
93   93.0  2013-09-12  2013-07-02     2
94    NaN  2014-06-22  2013-07-03     2
95   93.0  2013-11-11  2013-10-01     2

[96 rows x 4 columns]

In [72]:
df['DateConfirm'] = df['DateConfirm'].dt.date
df

    Class DateConfirm DateSymptom  Type
0    92.0  2013-07-09  2013-04-26     1
1    92.0  2013-09-04  2013-06-11     2
2    93.0  2013-08-19  2013-08-12     2
3    93.0  2013-10-18  2013-08-22     2
4    93.0  2013-08-11  2013-08-11     2
5    98.0  2013-08-28  2013-07-24     2
6    93.0  2013-07-25  2013-06-05     2
7    93.0  2013-08-15  2013-06-15     2
8    93.0  2013-09-03  2013-08-01     2
9    93.0  2013-09-10  2013-08-18     2
10   93.0  2013-10-18  2013-08-28     2
11   93.0  2013-08-10  2013-06-20     2
12   93.0  2013-09-03  2013-09-05     2
13   93.0  2013-09-06  2013-09-07     2
14   98.0  2013-09-05  2013-08-29     2
15   99.0  2013-11-26  2013-09-08     2
16   93.0  2013-09-07  2013-09-08     2
17   93.0  2013-09-08  2013-09-08     2
18   93.0  2013-09-10  2013-09-08     2
19   93.0  2013-09-07  2013-09-01     2
20   93.0  2013-09-05  2013-09-08     2
21   99.0  2013-09-10  2013-09-01     2
22   93.0  2013-09-08  2013-09-01     2
23   93.0  2013-09-08  2013-09-03     2
24   93.0  2013-09-07  2013-06-22     2
25   93.0  2013-09-03  2013-06-28     2
26   93.0  2013-09-12  2013-07-02     2
27   93.0  2013-09-12  2013-07-05     2
28   99.0  2013-09-13  2013-07-15     2
29   93.0  2013-09-09  2013-06-25     2
..    ...         ...         ...   ...
66   98.0  2013-09-30  2013-08-18     2
67   98.0  2013-09-30  2013-08-19     2
68   99.0  2013-09-13  2013-06-25     2
69  100.0  2013-09-13  2013-08-15     2
70  101.0  2013-08-09  2013-07-04     2
71   93.0  2013-05-28  2013-03-20     2
72  104.0  2013-09-22  2013-08-25     2
73   93.0  2013-08-20         NaT     2
74   94.0  2013-10-21  2013-09-08     2
75   96.0  2013-10-19  2013-10-10     2
76  102.0  2013-07-14         NaT     2
77   97.0  2013-10-18         NaT     2
78   93.0  2013-11-11  2013-10-18     2
79  101.0  2013-11-11  2013-10-18     2
80   96.0  2013-11-11  2013-10-18     2
81  102.0  2013-11-11  2013-10-18     2
82   92.0  2013-11-11  2013-10-18     2
83   99.0  2013-11-11  2013-10-18     2
84   99.0  2013-11-11  2013-10-18     2
85   99.0  2013-11-11  2013-10-18     2
86   99.0  2013-11-11  2013-10-18     2
87   97.0  2013-11-11  2013-10-18     2
88   97.0  2013-11-11  2013-10-18     2
89    NaN  2013-08-28  2013-08-10     2
90   99.0  2013-11-11  2013-11-10     2
91   99.0  2013-10-26  2013-10-15     2
92    NaN  2013-11-11  2013-11-10     2
93   93.0  2013-09-12  2013-07-02     2
94    NaN  2014-06-22  2013-07-03     2
95   93.0  2013-11-11  2013-10-01     2

[96 rows x 4 columns]

In [2]:
df.to_csv('SYZX_working.csv',index=None)

NameError: name 'df' is not defined

In [2]:
df = pd.read_csv('SYZX_working.csv')
df.drop('DateSymptom',axis=1,inplace=True)
df.drop(94,inplace=True)

    Class DateConfirm DateSymptom  Type
52   93.0    10/15/13     8/28/13     2
51   93.0    10/15/13     8/10/13     2
57  100.0    10/15/13     8/13/13     2
47  100.0    10/18/13         NaN     3
50  104.0    10/18/13         NaN     3
49  104.0    10/18/13         NaN     3
48  104.0    10/18/13         NaN     3
46   99.0    10/18/13         NaN     3
45   99.0    10/18/13    10/20/13     2
43   99.0    10/18/13         NaN     3
42   97.0    10/18/13         NaN     3
36   94.0    10/18/13         NaN     3
37   93.0    10/18/13    10/14/13     2
38   94.0    10/18/13         NaN     3
39   95.0    10/18/13         NaN     3
44   99.0    10/18/13         NaN     3
40   96.0    10/18/13         NaN     3
41   97.0    10/18/13         NaN     3
3    93.0    10/18/13     8/22/13     3
10   93.0    10/18/13     8/28/13     3
77   97.0    10/18/13         NaN     3
75   96.0    10/19/13    10/10/13     2
53   95.0    10/19/13     8/14/13     2
56   97.0     10/2/13     9/11/13     2
74   94.0    10/21/13      9/8/13     2
91   99.0    10/26/13    10/15/13     3
58  104.0     10/4/13     8/19/13     2
54   96.0     10/4/13     9/12/13     2
55   97.0     10/8/13     10/1/13     2
81  102.0    11/11/13    10/18/13     2
..    ...         ...         ...   ...
68   99.0     9/13/13     6/25/13     2
69  100.0     9/13/13     8/15/13     2
63   95.0     9/13/13      7/8/13     2
62   93.0     9/13/13     8/20/13     2
30   99.0     9/13/13     7/11/13     2
28   99.0     9/13/13     7/15/13     2
31   99.0     9/14/13     6/27/13     2
32   99.0     9/15/13      9/7/13     2
34   97.0     9/17/13      9/8/13     2
33   92.0     9/17/13      9/8/13     2
35    NaN     9/22/13         NaN     3
72  104.0     9/22/13     8/25/13     2
65   98.0     9/28/13     7/20/13     2
25   93.0      9/3/13     6/28/13     2
8    93.0      9/3/13      8/1/13     2
12   93.0      9/3/13      9/5/13     3
66   98.0     9/30/13     8/18/13     2
67   98.0     9/30/13     8/19/13     2
1    92.0      9/4/13     6/11/13     2
14   98.0      9/5/13     8/29/13     2
20   93.0      9/5/13      9/8/13     2
60   93.0      9/6/13     8/24/13     2
13   93.0      9/6/13      9/7/13     3
24   93.0      9/7/13     6/22/13     2
16   93.0      9/7/13      9/8/13     2
19   93.0      9/7/13      9/1/13     3
23   93.0      9/8/13      9/3/13     2
22   93.0      9/8/13      9/1/13     3
17   93.0      9/8/13      9/8/13     3
29   93.0      9/9/13     6/25/13     2

[96 rows x 4 columns]

In [22]:
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.date_range(start=date_start,end=date_end,freq='d')
TYPES = ['I+','I-','A','R']
df.loc[df['Class'].isnull(),'Class'] = 0
CLASSES = df['Class'].unique()
CLASSES = np.append(CLASSES,[1,])
type_class = [(t,c)for t in TYPES for c in CLASSES]
type_index = pd.MultiIndex.from_tuples(type_class)
org_df = pd.DataFrame(index=date_index,columns=type_index)
df.reset_index(inplace=True)
df.drop('index',axis=1,inplace=True)
org_df[:] = 0

In [44]:
date_length = len(date_index)
for c in CLASSES[:-1]:
    class_df = df[df['Class']==c]
    for t,n in [('I+',1),('I-',2),('A',3)]:
        cur_df = class_df[class_df['Type']==n]['DateConfirm'].value_counts().sort_index()
        cur_dates = cur_df.index.values
        cur_vals = cur_df.values
        l = 0
        for i in range(date_length):
            if i>0:
                org_df.loc[date_index[i],(t,c)] = org_df.loc[date_index[i-1],(t,c)] * 181/182
            if l<len(cur_dates) and date_index[i]==cur_dates[l]:
                org_df.loc[date_index[i],(t,c)] += cur_vals[l]
                l += 1

In [45]:
date_length = len(date_index)
for c in CLASSES[:-1]:
    for i in range(1,date_length):
        org_df.loc[date_index[i],('R',c)] = org_df.loc[date_index[i-1],('R',c)] + \
                                            org_df.loc[date_index[i-1],('I+',c)] /182 + \
                                            org_df.loc[date_index[i-1],('I-',c)] /182 + \
                                            org_df.loc[date_index[i-1],('A',c)] /182

In [46]:
for t in ['I+','I-','A','R']:
    org_df.loc[:,(t,1)] = org_df.loc[:,t].iloc[:,:-1].sum(axis=1)

In [48]:
org_df.to_csv('SYZX_ver1.csv')