In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
import re

In [52]:
df = pd.read_csv('SZFZ.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.date
df.to_csv('SZFZ_working.csv',index=None)

In [69]:
df = pd.read_csv('SYZX.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.date
df.to_csv('SYZX_working.csv',index=None)

0      92
1      92
2      93
3      93
4      93
5      98
6      93
7      93
8      93
9      93
10     93
11     93
12     93
13     93
14     98
15     99
16     93
17     93
18     93
19     93
20     93
21     99
22     93
23     93
24     93
25     93
26     93
27     93
28     99
29     93
     ...
66     98
67     98
68     99
69    100
70    101
71     93
72    104
73     93
74     94
75     96
76    102
77     97
78     93
79    101
80     96
81    102
82     92
83     99
84     99
85     99
86     99
87     97
88     97
89    NaN
90     99
91     99
92    NaN
93     93
94    NaN
95     93
Name: Class, Length: 96, dtype: object

In [3]:
df = pd.read_csv('MBZX.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.date
df.to_csv('MBZX_working.csv',index=None)

In [4]:
df = pd.read_csv('MBZX_working.csv')
df.drop(['DateSymptom','Class'],axis=1,inplace=True)

df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.date_range(start=date_start,end=date_end,freq='d')

TYPES = ['I+','I-','A','R']
org_df = pd.DataFrame(index=date_index,columns=TYPES)
org_df[:] = 0

date_length = len(date_index)
for t,n in [('I+',1),('I-',2),('A',3)]:
    cur_df = df[df['Type']==n]['DateConfirm'].value_counts().sort_index()
    cur_dates = cur_df.index.values
    cur_vals = cur_df.values
    l = 0
    for i in range(date_length):
        if i>0:
            org_df.loc[date_index[i],t] = org_df.loc[date_index[i-1],t] * 181/182
        if l<len(cur_dates) and date_index[i]==cur_dates[l]:
            org_df.loc[date_index[i],t] += cur_vals[l]
            l += 1

date_length = len(date_index)
for i in range(1,date_length):
    org_df.loc[date_index[i],'R'] = org_df.loc[date_index[i-1],'R'] + \
                                        org_df.loc[date_index[i-1],'I+'] /182 + \
                                        org_df.loc[date_index[i-1],'I-'] /182 + \
                                        org_df.loc[date_index[i-1],'A'] /182 

org_df.to_csv('MBZX_ver1.csv')

   DateConfirm  Type
0   2014-10-05     3
1   2014-10-05     2
2   2014-09-03     2
3   2014-10-05     2
4   2014-10-05     3
5   2014-10-05     3
6   2014-09-15     2
7   2014-09-22     1
8   2014-09-29     2
9   2014-10-05     2
10  2014-10-05     3
11  2014-11-03     3
12  2014-11-03     2
13  2014-10-03     2

In [17]:
df = pd.read_csv('QJYS.csv')
df['DateSymptom'] = pd.to_datetime(df['DateSymptom'])
df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
df['DateConfirm'] = df['DateConfirm'].dt.date
df.to_csv('QJYS_working.csv',index=None)

In [18]:
df = pd.read_csv('QJYS_working.csv')
df.drop(['DateSymptom','Class'],axis=1,inplace=True)

df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.date_range(start=date_start,end=date_end,freq='d')

TYPES = ['I+','I-','R']
org_df = pd.DataFrame(index=date_index,columns=TYPES)
org_df[:] = 0

date_length = len(date_index)
for t,n in [('I+',1),('I-',2)]:
    cur_df = df[df['Type']==n]['DateConfirm'].value_counts().sort_index()
    cur_dates = cur_df.index.values
    cur_vals = cur_df.values
    l = 0
    for i in range(date_length):
        if i>0:
            org_df.loc[date_index[i],t] = org_df.loc[date_index[i-1],t] * 181/182
        if l<len(cur_dates) and date_index[i]==cur_dates[l]:
            org_df.loc[date_index[i],t] += cur_vals[l]
            l += 1

date_length = len(date_index)
for i in range(1,date_length):
    org_df.loc[date_index[i],'R'] = org_df.loc[date_index[i-1],'R'] + \
                                        org_df.loc[date_index[i-1],'I+'] /182 + \
                                        org_df.loc[date_index[i-1],'I-'] /182

org_df.to_csv('QJYS_ver1.csv')
org_df

                  I+        I-         R
2017-12-05  1.000000  0.000000  0.000000
2017-12-06  0.994505  0.000000  0.005495
2017-12-07  0.989041  0.000000  0.010959
2017-12-08  0.983607  0.000000  0.016393
2017-12-09  0.978202  0.000000  0.021798
2017-12-10  0.972828  0.000000  0.027172
2017-12-11  0.967483  0.000000  0.032517
2017-12-12  0.962167  0.000000  0.037833
2017-12-13  0.956880  0.000000  0.043120
2017-12-14  0.951622  0.000000  0.048378
2017-12-15  0.946394  0.000000  0.053606
2017-12-16  0.941194  0.000000  0.058806
2017-12-17  0.936022  0.000000  0.063978
2017-12-18  0.930879  0.000000  0.069121
2017-12-19  0.925765  1.000000  0.074235
2017-12-20  0.920678  5.994505  0.084816
2017-12-21  0.915619  5.961569  0.122812
2017-12-22  0.910589  5.928813  0.160599
2017-12-23  0.905585  5.896237  0.198178
2017-12-24  0.900610  5.863840  0.235550
2017-12-25  0.895661  5.831621  0.272718
2017-12-26  0.890740  5.799579  0.309681
2017-12-27  0.885846  5.767713  0.346441
2017-12-28  0.880978  5.736023  0.382999
2017-12-29  0.876138  5.704506  0.419356
2017-12-30  0.871324  5.673163  0.455513
2017-12-31  0.866536  5.641991  0.491472
2018-01-01  0.861775  5.610991  0.527233
2018-01-02  0.857040  5.580162  0.562798
2018-01-03  0.852331  5.549502  0.598167
2018-01-04  0.847648  5.519010  0.633342
2018-01-05  0.842991  5.488686  0.668324
2018-01-06  0.838359  5.458528  0.703113
2018-01-07  0.833753  5.428536  0.737711
2018-01-08  1.829171  5.398709  0.772120

In [216]:
df = pd.read_csv('SZFZ_working.csv')
df.drop('DateSymptom',axis=1,inplace=True)
df.loc[df['Type']==3,'Type']=2

date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.date_range(start=date_start,end=date_end,freq='d')
TYPES = ['I+','I-','R']
df.loc[df['Class']=='SZFZ','Class'] = 0
CLASSES = df['Class'].unique()
CLASSES = np.append(CLASSES,[1,])
CLASSES = CLASSES.astype(float)

type_class = [(t,c)for t in TYPES for c in CLASSES]

type_index = pd.MultiIndex.from_tuples(type_class)

org_df = pd.DataFrame(index=date_index,columns=type_index)

df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])

org_df[:] = 0

df.loc[:,'Class']=df.loc[:,'Class'].astype(float)

date_length = len(date_index)
for c in CLASSES[:-1]:
    class_df = df[df['Class']==c]
    for t,n in [('I+',1),('I-',2)]:
        cur_df = class_df[class_df['Type']==n]['DateConfirm'].value_counts().sort_index()
        cur_dates = cur_df.index.values
        cur_vals = cur_df.values
        l = 0
        for i in range(date_length):
            if i>0:
                org_df.loc[date_index[i],(t,c)] = org_df.loc[date_index[i-1],(t,c)] * 181/182
            if l<len(cur_dates) and date_index[i]==cur_dates[l]:
                org_df.loc[date_index[i],(t,c)] += cur_vals[l]
                l += 1

date_length = len(date_index)
for c in CLASSES[:-1]:
    for i in range(1,date_length):
        org_df.loc[date_index[i],('R',c)] = org_df.loc[date_index[i-1],('R',c)] + \
                                            org_df.loc[date_index[i-1],('I+',c)] /182 + \
                                            org_df.loc[date_index[i-1],('I-',c)] /182 

for t in ['I+','I-','R']:
    org_df.loc[:,(t,1)] = org_df.loc[:,t].iloc[:,:-1].sum(axis=1)

org_df.to_csv('SZFZ_ver1.csv')

   Class DateSymptom DateConfirm  Type
0     41  2013-12-09  2014-01-16     1
40  SZFZ  2014-03-17  2014-03-23     2
68    41  2014-03-28  2014-03-30     3
21  SZFZ  2014-02-05  2014-04-15     2
67    41  2014-04-11  2014-04-18     3
1     41  2014-04-26  2014-04-27     1
9     41  2014-04-26  2014-04-27     2
45    41  2014-04-26  2014-04-27     2
27  SZFZ  2014-04-05  2014-04-28     2
36    41  2014-04-01  2014-04-28     2
20  SZFZ  2014-02-20  2014-04-28     2
19  SZFZ  2014-04-25  2014-04-28     2
15  SZFZ  2014-04-06  2014-04-28     2
35    41  2014-03-16  2014-04-28     2
49  SZFZ  2014-04-28  2014-04-28     2
53  SZFZ  2014-03-02  2014-04-28     2
64    41  2014-04-25  2014-04-28     2
31  SZFZ  2014-04-24  2014-04-28     2
48  SZFZ  2014-04-01  2014-04-29     2
65  SZFZ  2014-02-01  2014-04-29     2
11    41  2014-04-25  2014-04-30     2
18  SZFZ  2014-04-24  2014-04-30     2
25    41  2014-04-28  2014-04-30     2
43    41  2014-04-28  2014-05-02     2
41    41  2014-05-03  2014-05-03     2
33    41  2014-05-03  2014-05-03     2
39    41  2014-05-03  2014-05-03     2
46    40  2014-04-28  2014-05-03     2
38    41  2014-05-03  2014-05-03     2
37    45  2014-04-28  2014-05-03     2
34    48  2014-04-28  2014-05-03     2
28    41  2014-04-05  2014-05-03     2
10    41  2014-05-03  2014-05-03     2
22    41  2014-05-03  2014-05-03     2
17    44  2014-04-28  2014-05-03     2
12    46  2014-05-02  2014-05-03     2
13    43  2014-04-28  2014-05-03     2
29    43  2014-05-03  2014-05-04     2
5     35  2014-05-03  2014-05-04     2
6     40  2014-04-02  2014-05-04     2
30    40  2014-05-03  2014-05-04     2
8     44  2014-05-03  2014-05-04     2
44    44  2014-05-03  2014-05-04     2
7     37  2014-05-03  2014-05-04     2
14    40  2014-05-03  2014-05-04     2
32    40  2014-05-03  2014-05-04     2
42    42  2014-05-03  2014-05-04     2
2     46  2014-05-03  2014-05-04     2
3     42  2014-05-03  2014-05-04     2
23    51  2014-05-03  2014-05-04     2
24    52  2014-05-03  2014-05-04     2
16    44  2014-05-03  2014-05-04     2
66    41  2014-04-22  2014-05-06     3
26    41  2014-04-30  2014-05-11     2
52    44  2014-05-12  2014-05-15     2
62    42  2014-05-09  2014-05-23     2
56    43  2014-05-20  2014-05-25     2
50    42  2014-05-10  2014-05-25     2
60    43  2014-05-19  2014-05-25     2
57    42  2014-05-06  2014-05-26     2
54    42  2014-05-24  2014-05-30     2
55    41  2014-05-23  2014-05-30     2
63    41  2014-05-28  2014-05-31     2
51    45  2014-05-28  2014-06-02     2
59    44  2014-05-23  2014-06-02     2
58    41  2014-05-28  2014-06-05     2
61    41  2014-05-20  2014-06-05     2
4     42  2014-05-01  2014-06-14     2
47    42  2014-05-01  2014-06-16     2

In [ ]:
df = pd.read_csv('SYZX_working.csv')
df.drop('DateSymptom',axis=1,inplace=True)
df.drop(94,inplace=True)

df['DateConfirm'] = pd.to_datetime(df['DateConfirm'])
date_start = df.sort_values(by='DateConfirm').iloc[0]['DateConfirm']
date_end = df.sort_values(by='DateConfirm').iloc[-1]['DateConfirm']
date_index = pd.date_range(start=date_start,end=date_end,freq='d')
TYPES = ['I+','I-','A','R']
df.loc[df['Class'].isnull(),'Class'] = 0
CLASSES = df['Class'].unique()
CLASSES = np.append(CLASSES,[1,])
type_class = [(t,c)for t in TYPES for c in CLASSES]
type_index = pd.MultiIndex.from_tuples(type_class)
org_df = pd.DataFrame(index=date_index,columns=type_index)
df.reset_index(inplace=True)
df.drop('index',axis=1,inplace=True)
org_df[:] = 0

date_length = len(date_index)
for c in CLASSES[:-1]:
    class_df = df[df['Class']==c]
    for t,n in [('I+',1),('I-',2),('A',3)]:
        cur_df = class_df[class_df['Type']==n]['DateConfirm'].value_counts().sort_index()
        cur_dates = cur_df.index.values
        cur_vals = cur_df.values
        l = 0
        for i in range(date_length):
            if i>0:
                org_df.loc[date_index[i],(t,c)] = org_df.loc[date_index[i-1],(t,c)] * 181/182
            if l<len(cur_dates) and date_index[i]==cur_dates[l]:
                org_df.loc[date_index[i],(t,c)] += cur_vals[l]
                l += 1

date_length = len(date_index)
for c in CLASSES[:-1]:
    for i in range(1,date_length):
        org_df.loc[date_index[i],('R',c)] = org_df.loc[date_index[i-1],('R',c)] + \
                                            org_df.loc[date_index[i-1],('I+',c)] /182 + \
                                            org_df.loc[date_index[i-1],('I-',c)] /182 + \
                                            org_df.loc[date_index[i-1],('A',c)] /182 

for t in ['I+','I-','A','R']:
    org_df.loc[:,(t,1)] = org_df.loc[:,t].iloc[:,:-1].sum(axis=1)

org_df.to_csv('SYZX_ver1.csv')